<script type="text/javascript">	  
  var upload_path = "<%= new_attachment_path_with_session_information(:file) %>";
  
  function setUrl(url) 
  {  
    CKEDITOR.tools.callFunction(CKEditorFuncNum, url);
    top.close();
  }
  
  window.onload = function()
  {
    init_swfupload();
    make_file_thumb();
  }

  $(function() {
    $("#btn_refresh").button({
      text: true,
      icons: {
        primary: 'ui-icon-arrowrefresh-1-s'
      }
    });
    $("#btn_upload").button({
      text: true,
      icons: {
        primary: 'ui-icon-circle-plus'
      }
    });
    $("#btn_upload").click(function()
    {
      $('#fj').slideToggle('fast');
    }
  );
    $("#btn_refresh").click(function() { window.location.reload(); });
  });
</script>

<table width="100%" cellspacing="0" cellpadding="0">
  <tbody>
    <tr><td class="PopupTitle">当前目录:<%= @tag? @tag.name : "全部" %></td></tr>
    <tr>
      <td class="TB_ToolbarSet" id="nv">
        <button id="btn_upload">上传</button>
        <button id="btn_refresh">刷新</button>
      </td>
    </tr>

    <tr id="fj" style='display:none;'>
      <td style="white-space: normal;" class="FCKUploadArea" width="910">
        <div class="PopupTitle">
          <span>Upload New Files</span>
        </div>
        <div id="cY">
          <table cellspacing="0" cellpadding="0" style="padding: 10px;">
            <tbody>
              <tr>
                <td>
                  <span id='spanButtonPlaceholder'></span>
                  <div id="divFileProgressContainer" style="clear:both;"></div>

                  <%= render :partial=>"swfupload" %>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="PopupButtons">
            <div style="width: 100%;">
              <table width="100%" cellspacing="0" cellpadding="0">
                <tbody><tr>
                    <td width="100%"></td>
                    <td nowrap="nowrap">
                      <button onclick="$('#fj').slideToggle('fast');" class="Button"><span ckf:lang="CancelBtn">取消</span></button>
                    </td>
                  </tr>
                </tbody></table>
            </div>
          </div>
        </div>
      </td>
    </tr>

    <tr>
      <td style="height: auto" id="qu">
        <div style="overflow:auto; height:100%;" id='container'>
          <%= render :partial=>"file", :collection=>@files %>
        </div>
      </td>
    </tr>
  </tbody>
</table>
